header{
  text-align: center;
}

body{
  background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e40ac7;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  footer {
    position: fixed;
    height: 50px;
    background-color: #e40ac7;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/* Para fornulários */
/* https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form */

